<% layout('layouts/boilerplate') %>
<h1>Edit Campground: <%= campground.title %></h1>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Campground Title</label>
    <input type="text" name="title" id="title"  value="<%= campground.title %>">
  </div>
  <div>
    <label for="location">Campground Location</label>
    <input type="text" name="location" id="location" value="<%= campground.location %>">
    <!-- value means starting value -->
  </div>
  <button type="submit">Update Campground</button>
</form>
<a href="/campgrounds/<%= campground._id %>">Cancel</a>
